<!DOCTYPE html>
<html>
	<head>
		<title>Game</title>
		<!--Reference jquery, css, and js files-->
		<script type="text/javascript" 			src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<body onload="Function()">
		<script type = "text/javascript" src ="/js/game.js"></script>
		<script type = "text/javascript" src ="/js/global.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/game.css">   
	</head>
	<body>
		<!--Image and text holder-->
		<div class="container">
		<img src="/images/Main_Menu.jpg" alt="Main Menu" style="width:1000px;">
		<div class="centered"/h3>
		<!--Gives user option to go back to main menu-->
		<a href="http://localhost:1337/mainmenu">Press the space for the main menu</a>
		</div></div>
	</body>
</html>