<!DOCTYPE html>
<html>
		<head>
			<script type="text/javascript" 			src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
			<title>Game</title>
			<body onload="Function()">
			<script type = "text/javascript" src ="/js/game.js"></script>
			<link rel="stylesheet" type="text/css" href="/css/game.css">
		    
		</head>
		<body>
			<div class="container">
			<img src="/images/Main_Menu.jpg" alt="Main Menu" style="width:1000px;">
			<div class="centered"/h3>
			<a href="http://localhost:1337/mainmenu">Press the space for the main menu</a>
			</div></div>
		</body>
</html>