<!DOCTYPE html>
<html>
	<body>
		<head>
			<title>Index</title>
			<!--Reference jquery, css, and js files-->
			<script type="text/javascript" 			src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
			<script type = "text/javascript" src ="/js/index.js"></script>
			<script type = "text/javascript" src ="/js/global.js"></script>
			<link rel="stylesheet" type="text/css" href="/css/index.css">
		</head>
			<!--Main image plus opening text and continue option-->
			<div class="container">
		    <img src="/images/Open_Image.jpg" alt="Opening" style="width:1000px;">
		    <div class="centered"><h2>Oregon Trail</h2><h3><a 				href="http://localhost:1337/mainmenu">
			  		Press the spacebar to continue</a></h3></div></div>
	</body>
</html>