<!DOCTYPE html>
<html>
	<body>
		<head>
			<script type = "text/javascript" src ="/js/index.js"></script>
			
			<link rel="stylesheet" type="text/css" href="/css/index.css">
		    <script type="text/javascript" 		src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
			<script type = "text/javascript" src ="/js/topten.js"></script>
		</head>
		<div class="container">
		  <img src="/images/Open_Image.jpg" alt="Opening" style="width:1000px;">
		  <div class="centered"><h2>Oregon Trail</h2><h3><a href="http://localhost:1337/mainmenu">
			  Press the spacebar to continue</a></h3></div>
		</div>
		 
		<script type = "text/javascript" src ="/js/index.js"></script>
	</body>
</html>