<!DOCTYPE html>
<html>
	<head>
		<title>Main Menu</title>
		 <script type="text/javascript" 		src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/mainmenu.css">
		<script type = "text/javascript" src ="/js/mainmenu.js"></script>
	</head>
	<body>
		<div class="container">
		<img src="/images/Main_Menu.jpg" alt="Main Menu" style="width:1000px;">
		<div class="centered"><h3>Oregon Trail</h3>Main Menu
		<ol>
			<li>Travel the trails</li>
 		    <li>Learn about the trails</li>
 		    <li>See the Oregon Top 10</li>
 		  	<li>Turn Sound (On/Off)</div></div>
		 </ol>
	 </body>
</html>

