<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/setup.css">
		    <script type="text/javascript" 		src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
			<script type = "text/javascript" src ="/js/topten.js"></script>
	</head>
	<body>
		<div class="container">
		<img src="/images/Main_Menu.jpg" alt="Main Menu" style="width:1000px;" align="middle">
		<div class="centered"><h3>Oregon Trail</h3>Main Menu
		<ol>
			<li>Be a banker from Boston</li>
 		    <li>Be a carpenter from Ohio</li>
 		    <li>Be farmer from Illinois</li>
 		  	<li>Find out the differences between the choices
				<p><a href="http://localhost:1337/mainmenu">Press the space for the main menu</a><p></div></div>
		 </ol>
	 </body>
</html>

