<!DOCTYPE html>
<html>
	<head>
		<title>Trail</title>
		<!--Reference jquery, css, and js files-->
		<script type = "text/javascript" src ="/js/game.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/trail.css">
	</head>
	<body>
		<!--Aligns image and text-->
		<div class="parent">
		  <img class="image" src="/images/UpdatedBackground.png" align="middle"/>
		</div>
		<!--List options to users-->
		<ul><h5>
			<li>Days on trail</li>
 		    <li>Miles traveled</li>
 		    <li>Party health status</li>
			<li>Current weather</li>
 		    <li>Current pace</li>
 		    <li>Current terrain</li>
 		  	<li>Number of party members alive</li></h5>
			<!--Gives user option travel a day or change pace-->
			<h3><p>Press ENTER to travel a day or SPACEBAR to change pace
			<p></h3></div></div>
		 </ul>
	 </body>
</html>

