<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/trail.css">
	</head>
	<body>
		
		<div class="parent">
		  <img class="image1" src="/images/UpdatedBackground.png" align="middle"/>
		  
		</div>


		<ul><h5>
			<li>Days on trail</li>
 		    <li>Miles traveled</li>
 		    <li>Party health status</li>
			<li>Current weather</li>
 		    <li>Current pace</li>
 		    <li>Current terrain</li>
 		  	<li>Number of party members alive</li></h5>
			<h3><p>Press ENTER to travel a day or SPACEBAR to change pace
				<p></h3></div></div>
		 </ul>
	 </body>
</html>

